@import "../../vars.css";

.container {
  position: relative;
  background: rgb(4, 4, 4);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
  padding: 60px;
  margin-top: 120px;
  z-index: 1;
}

.contentBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.title {
  color: var(--color-text);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.img2 {
  width: 35%;
  border-radius: 20px;
}

.content {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  border-radius: 5px;
  padding: 20px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  gap: 15px;
}
.list:hover {
  background-size: 100%, 100%;
}

.list h3 {
  font-size: 25px;
  font-weight: 600;
}
.list p {
  font-size: 22px;
}
@media screen and (max-width: 830px) {
  .container {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
  }
  .contentBox {
    flex-direction: column;
  }
  .img2 {
    display: none;
  }
}
