@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  margin-left: 10px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}
.title:hover {
  transition: 0.2s;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.menu {
  display: flex;
}

.menuBtn {
  display: none;
}

.menuItems {
  display: flex;
  gap: 60px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}
li a:hover {
  padding-block: 10px;
  padding-inline: 10px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0.5px 0.5px 5px 0.5px #ffffff;
}

@media screen and (max-width: 830px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .menu {
    position: relative;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    z-index: 3;
  }
  .menuBtn {
    display: block;
    justify-content: center;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
/* @media screen and (max-width: 380px) {
  .menu{
    gap: 5px;
  }
  
} */
